<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>사용자 이름을 입력해주세요 : </h1>
        <br>
        <form action="hello">
            <label for="name_input">이름</label>
            <input type="text" id="name_input" name="name">
            <input type="submit" value="제출">
        </form>
        <a href="wc">단어 수 세기 프로그램</a>
    </div>
</body>
</html>